[submodule "timestamp-backend-fcc"]
	path = timestamp-backend-fcc
	url = https://github.com/pallab-nandi/timestamp-backend-fcc.git
[submodule "request-header-parser-microservice-fcc"]
	path = request-header-parser-microservice-fcc
	url = https://github.com/pallab-nandi/request-header-parser-microservice-fcc.git
[submodule "url-shortner-microservice-fcc"]
	path = url-shortner-microservice-fcc
	url = https://github.com/pallab-nandi/url-shortner-microservice-fcc.git
[submodule "exercise-tracker-fcc"]
	path = exercise-tracker-fcc
	url = https://github.com/pallab-nandi/exercise-tracker-fcc.git
