[submodule "timestamp-backend-fcc"]
	path = timestamp-backend-fcc
	url = https://github.com/pallab-nandi/timestamp-backend-fcc.git
[submodule "request-header-parser-microservice-fcc"]
	path = request-header-parser-microservice-fcc
	url = https://github.com/pallab-nandi/request-header-parser-microservice-fcc.git
